{% extends "auth/base_auth.html" %}
{% load ui %}
{% block title %}{% t 'login' %}{% endblock %}
{% block auth_content %}
<h1>{% t 'login_title' %}</h1>
<p class="muted">{% t 'login_sub' %}</p>

{% if form.non_field_errors %}
<div class="alert alert-danger">{% icon 'alert' 16 %} <span>{% t 'err_login' %}</span></div>
{% endif %}

<form method="post" class="form-stack" novalidate>
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
  {% include "partials/field.html" with field=form.username label_key="f_username" %}
  {% include "partials/field.html" with field=form.password label_key="f_password" %}
  <label class="check-row"><input type="checkbox" name="remember" value="1" checked> <span>{% t 'remember_me' %}</span></label>
  <button type="submit" class="btn btn-primary btn-lg btn-block">{% icon 'login' 18 %} {% t 'login' %}</button>
</form>
<p class="auth-switch">{% t 'no_account' %} <a href="{% url 'register' %}">{% t 'create_account' %}</a></p>
{% endblock %}
